{% extends "init_base.html" %}
{% block title %}初始化 RankIt - 设置起床签到信息{% endblock %}
{% block content %}
<div class="wrap">
  <div class="container">
    <div class="page-header">
      <h1>初始化 RankIt</h1>
    </div>
    {% with success = get_flashed_messages(category_filter=["success"]) %}
    {% if success %}
    <div class="alert alert-success alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      {{ success[0] }}
      </div>
    {% endif %}
    {% endwith %}
    {% with error = get_flashed_messages(category_filter=["error"]) %}
    {% if error  %}
     <div class="alert alert-danger alert-dismissable">
       <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
       {{ error[0] }}
     </div>
    {% endif %}
    {% endwith %}
    <form class="form-horizontal" method="post">
      <legend>设置起床签到信息</legend>
      <div class="form-group">
        <label for="begin_time" class="col-sm-2 control-label">开始时间</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="begin_time" name="begin_time" placeholder="开始时间">
          <p class="help-block">格式为 hh:mm</p>
        </div>
      </div>
      <div class="form-group">
        <label for="end_time" class="col-sm-2 control-label">结束时间</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="end_time" name="end_time" placeholder="结束时间">
          <p class="help-block">格式为 hh:mm</p>
        </div>
      </div>
      <div class="form-group">
        <label for="early_ret" class="col-sm-2 control-label">提早回复</label>
        <div class="col-sm-10">
          <textarea class="form-control" rows="3" id="early_ret" name="early_ret"></textarea>
          <p class="help-block">如果用户未签到，且请求签到时间早于开始时间，则返回此回复，我们定义：$[time_now]表示当前时间<hh:mm></p>
        </div>
      </div>
      <div class="form-group">
        <label for="late_ret" class="col-sm-2 control-label">迟到回复</label>
        <div class="col-sm-10">
          <textarea class="form-control" rows="3" id="late_ret" name="late_ret"></textarea>
          <p class="help-block">如果用户未签到，且请求签到时间迟于开始时间，则返回此回复，我们定义：$[time_now]表示当前时间<hh:mm></p>
        </div>
      </div>
      <div class="form-group">
        <label for="off_ret" class="col-sm-2 control-label">关闭回复</label>
        <div class="col-sm-10">
          <textarea class="form-control" rows="3" id="off_ret" name="off_ret"></textarea>
          <p class="help-block">如果用户请求签到时起床签到系统被关闭，则返回此回复，我们定义：$[time_now]表示当前时间<hh:mm></p>
        </div>
      </div>
      <div class="form-group">
        <label for="acc_ret" class="col-sm-2 control-label">正常回复</label>
        <div class="col-sm-10">
          <textarea class="form-control" rows="3" id="acc_ret" name="acc_ret"></textarea>
          <p class="help-block">正常签到回复，我们定义：$[rank]表示当前排名；$[time_now]表示当前时间<hh:mm>；$[time_req]表示上一次成功签到时间<hh:mm>；$[defeat]表示击败的人数</p>
        </div>
      </div>
      <div class="form-group">
        <label for="done_ret" class="col-sm-2 control-label">已签回复</label>
        <div class="col-sm-10">
          <textarea class="form-control" rows="3" id="done_ret" name="done_ret"></textarea>
          <p class="help-block">如果用户已经签到，则返回此回复，我们定义：$[rank]表示当前排名；$[time_now]表示当前时间<hh:mm>；$[time_req]表示上一次成功签到时间<hh:mm></p>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary">设置</button>
        </div>
      </div>
    </form>
    &nbsp;
  </div>
</div>
{% endblock %}
