{% extends "manage_base.html" %}

{% block title %}新建规则 - {{ info }}{% endblock %}
{% block content %}
<div class = "container">
  <form class="form-horizontal" method="post">
    <legend>新建规则 - {{ info }}</legend>
    <div class="form-group">
      <label for="range_begin" class="col-sm-2 control-label">开始范围</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" style="width:70%;" id="range_begin" name="range_begin" placeholder="开始范围">
      </div>
    </div>
    <div class="form-group">
      <label for="range_end" class="col-sm-2 control-label">结束范围</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" style="width:70%;" id="range_end" name="range_end" placeholder="结束范围">
      </div>
    </div>
    <div class="form-group">
      <label for="ret" class="col-sm-2 control-label">默认回复</label>
      <div class="col-sm-10">
        <textarea class="form-control" rows="3" style="width:70%;" id="ret" name="ret"></textarea>
        <p class="help-block">如果获得排名在设定范围内（范围左闭右开），则返回此回复，我们定义：$[rank]表示当前排名；$[time_now]表示当前时间<hh:mm></p>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">创建</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}

