{% extends "manage_base.html" %}
{% block title %}概览 - 起床签到任务{% endblock %}
{% block content %}
<div class = "container">
  <legend>概览 - 起床签到任务</legend>
  <p>状态: {{info['switch']}}</p>
  <p>签到时间: {{info['time_on']}}</p>
  <p>今日签到人数: {{info['total']}}</p>
  <table class="table">
    <thead>
      <tr>
        <th>Rank</th>
        <th>用户ID</th>
        <th>签到时间</th>
      </tr>
    </thead>
    {% for e in info['user_list'] %}
    <tr>
      <th>{{ e['rank'] }}</th>
      <th>{{ e['user_id'] }}</th>
      <th>{{ e['create_time'] }}</th>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
