{% extends "manage_base.html" %}
{% block title %}清空数据 - {{ event_name }}{% endblock %}
{% block content %}
<div class="container">
  <form class="form-horizontal" method="post">
    <legend>清空数据 - {{ event_name }}</legend>
    <div class="alert alert-danger">
      <p>您正在执行的是一项不可逆转的危险操作，请务必确认这个操作的正确性。</p>
    </div>
    <div class="form-group">
      <label for="confirm" class="col-sm-2 control-label">确认操作</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" style="width: 25%;" id="confirm" name="confirm" placeholder="请输入'clear data'来确认">
          <p class="help-block">请输入'clear data'以确认清空数据操作</p>
        </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-danger">清空数据</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
